<div class="container-home">
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="EXCLUSIVE"
		gameTitle="PLAY IT NOW!"
		gameType="DIGITAL PS4"
		gamePrice="R$ 129,99"
	></app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="NEW"
		gameTitle="BUY IT NOW!"
		gameType="PS5 PS4"
		gamePrice="R$ 229,99"
	></app-card>
	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="CHEAP"
		gameTitle="BUY IT NOW!"
		gameType="PS5 PS4"
		gamePrice="R$ 99,99"
	></app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="EXCLUSIVE"
		gameTitle="PLAY IT NOW!"
		gameType="PS3 PS4"
		gamePrice="R$ 129,99"
	></app-card>
	<app-card
		gameCover="assets/bt-bad-company-2.jpg"
		gameLabel="NEW"
		gameTitle="BUY IT NOW!"
		gameType="PS5 PS4"
		gamePrice="R$ 229,99"
	></app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="CHEAP"
		gameTitle="BUY IT NOW!"
		gameType="PS5 PS4"
		gamePrice="R$ 99,99"
	></app-card>
</div>
